@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', monospace;
    /* background-color: #434d56; */
    display: flex;
    flex-direction: column; 
    align-items: center; 
    min-height: 100vh; /* Optional: Makes the body take up at least the full height of the viewport */
    margin: 0;
}


.sampler{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 3px solid #35353556;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #e7e7e7;

    /* min-width: 60%; */
    min-height: 90%;
    /* width: 90%; */
    height: 90%;
}

/* Display */

.display {
    display: block;
    text-align: center;
}

canvas {
    display: block;
    margin: 0 auto;
    background-color: #c3c3c3;
    border: 2px solid #3535353e;
    border-radius: 10px;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.custom-file-download {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}





/* Controls */

.controls {
    display: flex;
    justify-content: space-around; /* Space the sliders evenly */
    align-items: center; /* Align items vertically in the center */
    padding: 20px; /* Padding around the controls section */
}

.slider-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Align items in the center */
    width: 150px; /* Fixed width for each slider container */
}

.slider-container label,
.slider-container .value-label {
    text-align: center; /* Center-align text */
    margin: 5px 0; /* Margin for spacing */
}


.slider-container input[type="range"] {
    writing-mode: vertical-lr;
    direction: rtl;
    writing-mode: bt-lr; /* IE */
    width: 8px; /* Slider thickness */
    height: 200px; /* Slider height */
    margin: 10px 0; /* Vertical spacing around the slider */
}

/* slider bars */
input[type="range"] {
    -webkit-appearance: none; /* Remove default styles */
    appearance: none;
    background: #303030; /* Background color */
    border-radius: 5px; /* Rounded corners */
    outline: none; /* Remove default focus styles */
}

/* slider nob */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styles */
    appearance: none;
    width: 20px; /* Thumb width */
    height: 20px; /* Thumb height */
    background: #222222; /* Thumb color */
    cursor: pointer; /* Cursor on hover */
    /* make square */
}

.button-container {
    display: block;
    text-align: center;
    margin-top: 40px;
}

.button-container button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin: 0 10px;
    /* use font */
    font-family: 'Press Start 2P', monospace;
    width: 100px;
    height: 50px;
    font-size: 10px;
    text-align: center;
}



/* Volume + Looper */

.sub-controls {
    display: flex;
    justify-content: space-around; /* Space the sliders evenly */
    align-items: center; /* Align items vertically in the center */
    padding: 20px; /* Padding around the controls section */
    margin-top: 20px;
    background-color: #cbcbcb46;
    border: 2px solid #3535353e;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    padding: 10px;
}


input[type="checkbox"] {
    background-color: #f0f0f0;
    border-radius: 5px;
    margin: 0 10px;
    width: 20px;
    height: 20px;
    font-size: 10px;
}



/* Settings */


.sampler-footer button {
    padding: 5px 20px;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.177);
    width: 20px;
    height: 15px;
    text-align: center;
    border-color: #3535353e;
}

.settings {
    margin-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    /* center grid */
}

.settings-container label {
    text-align: center;
    margin-top: 50px;
    justify-content: center;
}

/* for small devices responsive media */
@media only screen and (max-width: 600px) {
    .sampler {
        width: 90%;
    }   
}